<h1>{{ title }}</h1>
<form name="admin" method="post">
    <td style="border: none; margin-left: 10px;">
        <button 
        type="submit" 
        name='airportbtn'
        values="airport" 
        formaction="/admin">
        airport
        </button>
    </td>

    <br><br>

    <td style="border: none; margin-left: 10px;">
        <button type="submit" 
        name='airplanebtn' 
        values="airplane" 
        formaction="/admin">
        airplane
        </button>
    </td>

    <br><br>

    <td style="border: none; margin-left: 10px;">
        <button type="submit"
        name='flightbtn'
        values="flight"
        formaction="/admin">
        flight
        </button>
    </td>
</form>

