<h1>{{ title }}</h1>
<form name="user" method="post">
    <td style="border: none; margin-left: 10px;">
        <button type="submit"
        name='checkbtn'>
        예약 조회
        </button>
    </td>

    <br><br>

    <td style="border: none; margin-left: 10px;">
        <button type="submit"
        name='reservationbtn'>
        항공편 예약
        </button>
    </td>
</form>

